/* TBV test */

.field--name-field-bbb {float: right; margin: 0 0 20px 40px !important; width: calc(50% - 40px);}

/* Laat in Drupal geen titels e.d. zien */
.node--type-gis-ia-map header {display: none;}
.node--type-gis-ia-map .card-content h2 {display: none;}

/* Zorg dat de kaart de juiste hoogte heeft (width*aspect-ratio) */
.ia_map {height: 100%;}
.ia_map:-moz-full-screen {height: 100%; width: 100%;}
.ia_map:-webkit-full-screen {height: 100%; width: 100%;}
.ia_map:-ms-fullscreen {height: 100%; width: 100%;}
.ia_map:fullscreen {height: 100%; width: 100%;}

.ol-control button {width: initial;}
/* Filters naast of op de kaart */
/* berekening max-width:	flex-breedte van .gis_ia_map_holder en .gis_ia_filters plus 1 (dus 700 + 300 + 1 = 1001) */
.gis_ia_base {display: block; position: relative; min-width: 260px;}
.gis_ia_filters {display: block; vertical-align: top; z-index: 20; position: absolute;}
.gis_ia_map_holder {display: block; vertical-align: top; background-color: white;}
.gis_ia_base.gis_ia_as_block {display: flex;}
.gis_ia_base.gis_ia_as_block .gis_ia_filters {flex: 0 1 30%; position: initial;}
.gis_ia_base.gis_ia_as_block .gis_ia_map_holder {flex: 1 0 70%;}

.gis_ia_filters .f2 {padding: 8px 12px 8px 8px;}
.gis_ia_filters.as-overlay .f2 {padding-left: 8px;}
.gis_ia_filters_close {text-align: right; margin-bottom: 20px; height: 30px;}
.gis_ia_filters_toon {text-align: right; margin-top: 20px; height: 30px;}
.gis_ia_no_filters {display: inline-block; height: 33px; margin-bottom: 8px; padding-top: 12px;}

/* filters styling */
.gis_ia_filters_def {margin-top: -20px;}
.gis_ia_f_def,.gis_ia_bl_def,.gis_ia_l_def {font-size: 1.1em; font-weight: bold;margin: 20px 0 8px 0;}
.gis_ia_filters .gis_ia_filters_radio, .gis_ia_filters .gis_ia_filters_checkbox {padding-left: 32px;}
.gis_ia_filters input.gis_ia_filters_checkbox, .gis_ia_filters input.gis_ia_filters_radio {position: absolute; width: 0; height: 0; margin: 0;}
.gis_ia_filters input.gis_ia_filters_checkbox:checked ~ label.gis_ia_filters_checkbox:before {content: "\2713"; font-size:15px; text-indent: 3px;}
.gis_ia_filters input.gis_ia_filters_radio:checked ~ label.gis_ia_filters_radio:before {border-width: 6px; width: 7px; height: 7px;}
.gis_ia_filters label.gis_ia_filters_radio:before, .gis_ia_filters label.gis_ia_filters_checkbox:before {content: ""; position: absolute; width: 16px; height: 16px; display: inline-block; left: 0;}
.gis_ia_filters label.gis_ia_filters_radio:before {border-radius: 9px;}


/* */
.gis_ia_filters input.gis_ia_input, .gis_ia_filters select.gis_ia_input {background: white; outline: none;-webkit-appearance: none;-moz-appearance: none; appearance: none;width: 100%; border: 1px solid black;}
.gis_ia_filters input.gis_ia_input {padding: 0 0 0 4px; height: 34px; width: calc(100% - 4px);}
.gis_ia_filters select.gis_ia_input {padding: 4px; height: 36px;}
.gis_ia_filters label {position: relative; font-weight: normal; display: inline-block; max-width: calc(100% - 37px); word-break: break-word;}
.gis_ia_filters div.gis_ia_input {display: inline-block; position: relative;}
.gis_ia_filters div.gis_ia_input50 {width: 50%;}
.gis_ia_filters div.gis_ia_input100 {width: 100%;}
.gis_ia_filters label.gis_ia_input {position: absolute;left: 0.5rem;height: 1.5rem;top: 0;bottom: 0;margin: auto;z-index: 2; overflow: hidden;}
.gis_ia_filters_arrow_down {position: absolute; right: 12px; pointer-events:none; top: 3px; padding: 8px 4px 1px 8px;background-color: white;}
.gis_ia_filters_arrow_down::before {border-style: solid;border-width: 0.15em 0.15em 0 0;content: '';display: inline-block;height: 0.45em;left: 0.15em;position: relative;top: 0.15em;transform: rotate(-45deg);vertical-align: top;width: 0.45em;top: 0;transform: rotate(135deg);pointer-events:none;}
.gis_ia_arrow_down_has_x {right: 38px;}
/* filter X buttons */
.gis_ia_filters .gis_ia_f_f_xx {cursor: pointer;text-decoration: none; border: none;}
.gis_ia_filters .gis_ia_f_f_xx:before {content: "✖"; display: inline-block; width: 29px; vertical-align: top; padding-left: 3px;}
.gis_ia_filters .gis_ia_f_f_xx span {display: inline-block; max-width: calc(100% - 37px); word-break: break-all;}
.gis_ia_filters .gis_ia_f_f_x_simple .gis_ia_f_f_xx:before {width: 16px !important;}
.gis_ia_filters .gis_ia_f_f_x_simple {float: right; text-align: right;}
.gis_ia_filters input.gis_ia_input_has_x {width: calc(100% - 38px) !important;}
.gis_ia_filters select.gis_ia_input_has_x {width: calc(100% - 32px) !important;}
/* Groep titels */
.gis_ia_filters .gis_ia_f_g_t {cursor: pointer;}
.gis_ia_filters .gis_ia_f_g_t:after {content: ">"; float: right;}
/* Groep elementen */
.gis_ia_filters .gis_ia_f_g {display: none; z-index: 1; position: absolute; margin-left: 229px; margin-top: -2em;}

/* filters submenu */
.gis_ia_filters_info_button {cursor: pointer; outline: none; display: inline-block; border-radius: 16px; margin: 0 0 0 12px; background-repeat: no-repeat; background-position: center; width: 33px; height: 33px; position: absolute !important;}
.gis_ia_filters_extra_info {position: relative; width: calc(100% - 36px); min-height: 34px;}
.gis_ia_filters_submenu_parent {position: absolute;width: 100%; text-align: right;}
.gis_ia_filters_submenu {text-align: left;display: inline-block;z-index: 1;position: relative;margin: 30px -42px 0 0; border: 1px solid black; background-color: white; padding: 12px;}
/* filters submenu items */
.gis_ia_filters_submenu>div {margin-top: 12px;}
.gis_ia_filters_submenu>div:first-child {margin-top: 0;}
.gis_ia_filters_submenu>div>div:first-child {font-weight: bold; margin-bottom: 4px;}
.gis_ia_base .button-opa {display: inline-block;}
.gis_ia_base .button-opa-min {width: 27px; min-width: 27px !important; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; background-repeat: no-repeat; background-position: center;}
.gis_ia_base .button-opa-max {width: 27px; min-width: 27px !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; background-repeat: no-repeat; background-position: center;}
.gis_ia_base .gis_ia_legenda .panel>div>div {white-space: nowrap;}
.gis_ia_legenda .gis_ia_layer_legend {max-width: initial;}

/* Algemene instellingen (override ol-defaults) */
.gis_ia_base .ol-control {padding: 0; border-radius: 0; background-color: transparent;}
.gis_ia_base .shown.ol-control:hover {background-color: transparent;}

/* Override default ol-touch (grootte knoppen mobiel) */
.gis_ia_base button {font-size: 1em !important; font-weight: normal !important;}

/* Knoppen */
.gis_ia_base button {cursor: pointer; outline: none; display: inline-block; background-position: center; min-width: 33px; height: 33px; border-radius: 16px; margin: 0;}
.gis_ia_base button:focus {outline: none; background-color: transparent;}
.gis_ia_map_holder button {position: absolute;}
.gis_ia_base .panel .button, .gis_ia_base .ol-popup-2 .button {cursor: pointer; border-radius: 0 !important; background-image: none !important;}
.gis_ia_filters_close button, .gis_ia_filters_toon button {position: initial !important;}
.gis_ia_filters_button,gis_ia_filters_button {float: right; cursor: pointer; outline: none; display: inline-block; border-radius: 16px; margin: 0; padding: 4px 12px;}
/* zorgen dat breedte popup gemaximaliseerd wordt */
.ol-overlay-container.ol-selectable {width: 100%;}
.ol-popup {max-width: calc(100% - 70px);}
.gis_ia_legenda button {background-repeat: no-repeat;}

/* z-index voor alle elementen */
.gis_ia_zoom_extent {z-index: 1;}
.gis_ia_fullscreen {z-index: 2;}
.gis_ia_position2 {z-index: 3;}
.gis_ia_layerSlider {z-index: 5;}

/* Edit pagina beter leesbaar maken */
.gis_ia_edit_table {width: initial;}
.gis_ia_edit_table tr {border: none; background-color: white;}
.gis_ia_edit_table tr td {vertical-align: top;}
.gis_ia_edit_table tr td:first-child {padding-left: 0;}

/* position2 CSS */
.gis_ia_base .ol-control.gis_ia_position2 {line-height: 0; max-width: calc(100% - 110px);}
.gis_ia_base .ol-control.gis_ia_position2 button {position: relative;}
.gis_ia_zoekveld {position: relative; margin: 0; padding: 0;vertical-align: top;}
.gis_ia_base .ui-autocomplete .ui-menu-item { padding: 5px; overflow: hidden;line-height: 125%;}
.gis_ia_base .ui-autocomplete .ui-menu-item .ui-state-active {cursor: pointer; margin: 0 !important;}
.gis_ia_base .ui-autocomplete .ui-menu-item strong {text-decoration: underline;}

/* scalebar2 CSS */
.scalebar2 {position: absolute; background: transparent !important;}
.scalebar2 table {width: 100%; margin: 0 0 -4px;}
.scalebar2 td {width: 16.666666%;}
.scalebar2 tr {background: transparent !important; border: 0px solid #ffffff;}
.scalebar2 tbody tr:hover, .scalebar2 tbody tr:focus {background: transparent !important;}
.scalebar2 tr td {padding: 0; border: 0px solid #ffffff; text-align: center; background: transparent !important; height: 5px;}
.scalebar2 tr td.o {border-bottom: 1px solid black;}
.scalebar2 tr td.lo {border-left: 1px solid black;border-bottom: 1px solid black;}
.scalebar2 tr td.l {border-left: 1px solid black;}
.scalebarTxt {padding: 2px 0 !important;}

/* Mouseposition */
.custom-mouse-position {position: absolute; margin-bottom: -1px;}

/* Timeslider CSS */
.gis_ia_base .playpauze {position: relative !important; display: inline-block !important;}
.gis_ia_base .playpauze.play {}
.gis_ia_base .playpauze.pauze {}
.gis_ia_base .gis_ia_layerSliderLayer {margin: 0 0 12px 0 !important; display: none;}
.gis_ia_base .gis_ia_layerSlider {max-width: calc(100% - 60px); width: 200px;}


/* Popup & Panel */
.gis_ia_base .ol-popup-table td {vertical-align: top;}
.gis_ia_base .ol-popup-table tr td:first-child {padding-left: 0;}
.gis_ia_table_lvfh {display: inline-block;}
.gis_ia_table_lvfh table {width: initial; margin: 0;}
.gis_ia_popup_h {font-weight: bold;}
.gis_ia_base .panel {padding: 4px 6px; margin: 0; display: none; overflow-y: auto; border-radius: 0;}
.gis_ia_base .ol-popup   {position: absolute; padding: 12px 20px; border-radius: 0; left: -50px; padding-top: 24px; z-index: 200; white-space: nowrap; bottom: 9px; margin-left: 1px;}
.gis_ia_base .ol-popup-2 {position: absolute; padding: 12px 20px; border-radius: 0; left: -50px; padding-top: 24px; z-index: 200; white-space: nowrap;}
.gis_ia_base .ol-popup:after, .gis_ia_base .ol-popup:before     {top: calc(100% + 1px); border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.gis_ia_base .ol-popup-2:after, .gis_ia_base .ol-popup-2:before {top: calc(100% + 1px); border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.gis_ia_base .ol-popup:after   {border-width: 10px; left: 48px; margin-left: -10px;}
.gis_ia_base .ol-popup-2:after {border-width: 10px; left: 48px; margin-left: -10px; top: -21px;}
.gis_ia_base .ol-popup:before   {border-width: 11px; left: 48px; margin-left: -11px;}
.gis_ia_base .ol-popup-2:before {border-width: 11px; left: 48px; margin-left: -11px; top:-22px;}
.gis_ia_base .ol-popup-closer {cursor: pointer; text-decoration: none; position: absolute; top: 2px; right: 8px;}
.gis_ia_base .ol-popup-closer:after { content: "✖";}
.gis_ia_base .ol-popup-closer, .gis_ia_base .ol-popup-closer:link, .gis_ia_base .ol-popup-closer:visited, .gis_ia_base .ol-popup-closer:hover {border-bottom: solid 0px transparent;color: black;}
.gis_ia_base .ol-popup-table {border: 0;border-spacing: 0; margin: 10px 0 0 0;width: 100%;color: black;}
.gis_ia_base .ol-popup-table tr {border-bottom: 1px solid transparent;padding: 0 10px 0 0;background: transparent;}
.gis_ia_data_pre {margin-bottom: 12px;}
.gis_ia_data_post {margin-top: 12px;}
.gis_ia_data_error {color: red; font-weight: bold; padding: 10px 0; white-space: normal;}
.gis_ia_filters table, .gis_ia_filters tr, .gis_ia_filters td {border: 0; background: transparent;}
.gis_ia_filters td {vertical-align: top;}

#popup-content td:nth-child(1) {font-weight: bold;vertical-align: top;padding-right: 20px;}
#popup-content table tr td:nth-child(2) {overflow: hidden;text-overflow: ellipsis;max-height: 4em;display: inline-block;line-height: normal;}

.gis_ia_base .panel table, .gis_ia_base .ol-popup table, .gis_ia_base .ol-popup-2 table {border: none; margin: 0; width: initial;}
.gis_ia_base .panel table tr, .gis_ia_base .ol-popup table tr, .gis_ia_base .ol-popup-2 table tr {border: none;padding: 0;background-color: transparent;}
.gis_ia_base .panel table tr:hover, .gis_ia_base .ol-popup table tr:hover, .gis_ia_base .ol-popup-2 table tr:hover {background-color: transparent !important;}
.gis_ia_base .panel table td, .gis_ia_base .ol-popup table td, .gis_ia_base .ol-popup-2 table td {border: none;padding: 4px 8px;background-color: transparent;}

/* Posities knoppen linksboven */
.gis_ia_base .ol-control.gis_ia_zoom {right: 41px; top: 8px;}
.gis_ia_base .gis_ol_zoom-out {top: 26px;}
.gis_ia_base .ol-control.gis_ia_zoom_extent {right: 41px; top: 8px;}
.gis_ia_base .ol-control.gis_ia_zoom_extent1 {top: 70px;}			/* als extent onder zoom-knoppen staat */
.gis_ia_base .ol-control.gis_ia_fullscreen {right: 41px; top: 8px;}
.gis_ia_base .ol-control.gis_ia_fullscreen1a {top: 50px;}			/* als fullscreen alleen onder zoom-knoppen staat */
.gis_ia_base .ol-control.gis_ia_fullscreen1b {top: 70px;}			/* als fullscreen alleen onder extend-knop staat */
.gis_ia_base .ol-control.gis_ia_fullscreen2 {top: 113px;} 			/* als fullscreen onder beide staat */
.gis_ia_zoom-out {top: 26px;}
.gis_ia_base .ol-control.gis_ia_position2 {left: 8px; top: 8px;}
.gis_ia_base .gis_ial_zoekveld {margin: 1px;}
.gis_ia_base .ol-control.gis_ia_filter {left: 8px; top: 8px;}
.gis_ia_base .ol-control.gis_ia_filter1 {top: 68px;}

/* posities knoppen linksonder */
.gis_ia_base .ol-control.gis_ia_legenda {left: 8px; bottom: 8px;}
.gis_ia_base .ol-control.legenda1a {bottom: 30px;}
.gis_ia_base .ol-control.legenda1b {bottom: 64px;}
.gis_ia_base .ol-control.legenda2 {bottom: 86px;}
.gis_ia_base .ol-control.custom-mouse-position {left: 8px; bottom: 8px;}
.gis_ia_base .scalebar2 {left: 8px; bottom: 8px;}
.gis_ia_base .scalebar21 {left: 8px; bottom: 28px;}
.gis_ia_base .ol-control.gis_ia_legenda .panel {position: absolute;; bottom: 33px;}

/* posities knoppen rechtsonder */
.gis_ia_base .ol-control.gis_ia_layerSlider {right: 8px; bottom: 8px;}

/* uiterlijk knoppen */
.gis_ia_base .ol-control button.gis_ia_zoom-in {font-size: 0 !important; border-bottom-left-radius: 0; border-bottom-right-radius: 0; height: 27px; border-bottom-width: 0;background-repeat: no-repeat;}
.gis_ia_base .ol-control button.gis_ia_zoom-out {font-size: 0 !important; border-top-left-radius: 0; border-top-right-radius: 0; height: 27px;background-repeat: no-repeat;}
.gis_ia_zoom_extent button {background-repeat: no-repeat;}
.gis_ia_fullscreen button {background-repeat: no-repeat; font-size: 0;}
.gis_ia_base .zoom-position {border-top-right-radius: 16px !important; border-bottom-right-radius: 16px !important;}
.gis_ia_zoekveld {margin: 0; border-top-width: 0; border-left-width: 0; border-bottom-width: 0; width: calc(100% - 76px); height:33px; padding: 0 4px;}
.gis_ia_zoekknop {border-width: 0 !important; border-radius: 0 !important; background-repeat: no-repeat;}
.gis_ia_gotopos {border-width: 0 !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;background-repeat: no-repeat;}
.gis_ia_layerSlider input[type=range].play-left {width: calc(100% - 38px); margin: 0 4px 0 0 !important; float: left; height: 33px;}
.gis_ia_base .opaMelder {position: absolute; z-index: 1000; padding: 0 3px; border: solid 1px black;}
.gis_ia_filter_button {display: none; width: auto !important; white-space: nowrap; padding: 0 12px 0 4px !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;}
.gis_ia_options_button {padding-left: 32px !important; background-repeat: no-repeat; background-position: 6px 6px !important; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; padding-right: 8px !important;}
.gis_ia_base .ol-control.gis_ia_legenda button {position: absolute; bottom: 0;}

/* alles voor input range, voor verschillende browsers */
.gis_ia_base input[type=range] {min-height: 20px; -webkit-appearance: none; background: transparent; margin: 0 !important; padding: 0; width: 100%;}
.gis_ia_base input[type=range]:focus {outline: none;}
.gis_ia_base input[type=range]::-ms-track {width: 100%;cursor: pointer;background: transparent; border-color: transparent; color: transparent;}
/* alles voor de thumb, voor verschillende browsers  */
.gis_ia_base input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;border-radius: 0;border: 0;cursor: pointer;}
.gis_ia_base input[type=range]::-moz-range-thumb {border-radius: 0; border: 0; cursor: pointer;}
.gis_ia_base input[type=range]::-ms-thumb {border-radius: 0; border: 0; cursor: pointer;}
/* alles voor de track, voor verschillende browsers  */
.gis_ia_base input[type=range]::-webkit-slider-runnable-track {cursor: pointer;}
.gis_ia_base input[type=range]:focus::-webkit-slider-runnable-track {}
.gis_ia_base input[type=range]::-moz-range-track {cursor: pointer;}
.gis_ia_base input[type=range]::-ms-track {cursor: pointer; background: transparent; border-color: transparent; border-width: 0; color: transparent;}

/* TIMESLIDER: alles voor de thumb, voor verschillende browsers  */
.gis_ia_base input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 4px;}
.gis_ia_base input[type=range]::-moz-range-track {width: 100%; height: 4px;}
.gis_ia_base input[type=range]::-ms-track { width: 100%; height: 4px;}
.gis_ia_base .gis_ia_layerSlider input[type=range]::-webkit-slider-thumb {height: 35px; width: 45px; margin-top: -17px; border-radius: 17px; background-repeat: no-repeat;background-position: center;}
.gis_ia_base .gis_ia_layerSlider input[type=range]::-moz-range-thumb {height: 31px; width: 41px; margin-top: -15px; border-radius: 16px; background-repeat: no-repeat;background-position: center;}
.gis_ia_base .gis_ia_layerSlider input[type=range]::-ms-thumb { height: 31px; width: 41px; margin-top: 0px; border-radius: 16px; background-repeat: no-repeat;background-position: center;}
.gis_ia_base button.playpauze {height: 33px; width: 33px; border-radius: 16px; background-position: center; background-repeat: no-repeat;}

.gis_ia_base .wait-cursor {background-image: url(wait.gif); width: 32px; height: 32px;}
