/* Knoppen */
.gis_ia button {background-color: #39870c !important; border: solid 1px #535353;}
.panel .button, .ol-popup-2 .button {background-color: #39870c !important; color: white !important; border: solid 1px #535353;}

/* position2 CSS */
.autocomplete-selected {background: #39870c; color: white;}

/* Popup & Panel */
.gis_ia .panel, .autocomplete-suggestions {border: solid 1px #535353 !important; background-color: #e1eddb !important;}
.ol-popup   {border: 1px solid #535353; background-color: #e1eddb;}
.ol-popup-2 {border: 1px solid #535353; background-color: #e1eddb;}
.ol-popup:after   {border-top-color: #535353;}
.ol-popup-2:after {border-bottom-color: #535353;}
.gis_ia_feature_header2 td {border-top: solid 2px #39870c !important;}

/* filter panel */
.gis_ia_filters .f2 {background-color: #e1eddb;}
.gis_ia_filter_button, .gis_ia_filters_button {background-color: #39870c; color: white !important; border: solid 1px #535353;}

/* uiterlijk knoppen */
.ol-control button.gis_ia_zoom-in {color: white; background-image: url(gis-ol-plus-white.png);}
.ol-control button.gis_ia_zoom-out {color: white; background-image: url(gis-ol-min-white.png);}
.gis_ia_zoom_extent button {background-image: url(gis-ol-zoom-ext-white.png);}
.gis_ia_fullscreen button {background-image: url(gis-ol-fullscreen-white.png);}
.zoom-position {border: solid 1px #535353; background-color: #39870c !important;}
.gis_ia_zoekveld {color: white; background-color: #39870c; border-right: solid 1px #e1eddb ;}
.gis_ia_zoekknop {border-right: solid 1px #e1eddb  !important; background-image: url(gis-ol-zoek-white.png);}
.gis_ia_gotopos {background-image: url(gis-ol-position2-white.png);}
.legenda button {background-image: url(gis-ol-legenda-white.png);}
.gis_ia_options_button {background-image: url(gis-ol-options-white.png);}

/* DEFAULT: alles voor de thumb, voor verschillende browsers  */
.gis_ia input[type=range]::-webkit-slider-thumb {background: #39870c; border: solid 1px #535353;}
.gis_ia input[type=range]::-moz-range-thumb {background: #39870c; border: solid 1px #535353;}
.gis_ia input[type=range]::-ms-thumb {background: #39870c; border: solid 1px #535353;}
/* alles voor de track, voor verschillende browsers  */
.gis_ia input[type=range]::-webkit-slider-runnable-track {background: #39870c; border: solid 1px #39870c;}
.gis_ia input[type=range]::-moz-range-track {background: #39870c; border: solid 1px #39870c;}
.gis_ia input[type=range]::-ms-track {background: #39870c;}

/* TIMESLIDER: alles voor de thumb, voor verschillende browsers  */
#timeslider {width: calc(100% - 37px); margin-left: 4px;}
.gis_ia .timeSlider input[type=range]::-webkit-slider-thumb {background-image: url(gis-ol-timeslider-white.png); background-color: #39870c;}
.gis_ia .timeSlider input[type=range]::-moz-range-thumb {background-image: url(gis-ol-timeslider-white.png); background-color: #39870c;}
.gis_ia .timeSlider input[type=range]::-ms-thumb {background-image: url(gis-ol-timeslider-white.png); background-color: #39870c;}
.ol-control button.playpauze {background-image: url(gis-ol-play-white.png);}
.ol-control button.playpauze.pauze {background-image: url(gis-ol-pauze-white.png);}
