td, th {vertical-align: top !important;}
td input, td select, td textarea, td button {vertical-align: top !important;}
td label {display: inline-block; margin: 0; padding: 0; font-weight: normal;}
td input[type=checkbox] {vertical-align: middle !important; margin-right: 20px;}
.kolom_1 {display: inline-block; width: 300px; vertical-align: top;}
.kolom_1 > div:first-child {font-weight: bold; font-style: italic;}
.kolom_1 {display: inline-block; width: 300px; vertical-align: top;}
.kolom_2 > div:first-child {display: inline-block; width: 100px; vertical-align: top;}
.kolom_2 > div:not(:first-child) {display: inline-block; width: 200px; vertical-align: top;}
