.gis_ia_base {background-color: #fff4dc;}
/* Knoppen */
.gis_ia_base button {background-color: #ffb612 !important; border: solid 1px #535353;}
.gis_ia_base .panel .button, .gis_ia_base .ol-popup-2 .button {background-color: #ffb612 !important; color: black !important; border: solid 1px #535353;}

/* position2 CSS */
.gis_ia_base .ui-autocomplete .ui-menu-item .ui-state-active {background: #ffb612; color: black;}

/* Popup & Panel */
.gis_ia_base .panel, .gis_ia_base .autocomplete-suggestions {border: solid 1px #535353 !important; background-color: #fff4dc !important;}
.gis_ia_base .ol-popup   {border: 1px solid #535353; background-color: #fff4dc;}
.gis_ia_base .ol-popup-2 {border: 1px solid #535353; background-color: #fff4dc;}
.gis_ia_base .ol-popup:after   {border-top-color: #535353;}
.gis_ia_base .ol-popup-2:after {border-bottom-color: #535353;}
.gis_ia_feature_header2 td {border-top: solid 2px #ffb612 !important;}

/* filter panel */
.gis_ia_filters .f2 {background-color: #fff4dc;}
.gis_ia_options_button {background-color: #ffb612; color: black !important; border: solid 1px #535353;}
.gis_ia_filters_info_button {background-color: #ffb612; color: black !important; border: solid 1px #535353;}
.gis_ia_filters_button {background-color: #ffb612; color: black !important; border: solid 1px #535353;}
/* tbv checkboxes en radio buttons */
.gis_ia_filters label.gis_ia_filters_radio:before, .gis_ia_filters label.gis_ia_filters_checkbox:before {border: solid 1px black; background-color: #ffb612;}
.gis_ia_filters input.gis_ia_filters_checkbox:checked ~ label.gis_ia_filters_checkbox:before {color: black; background-color: #ffb612;}

/* uiterlijk knoppen */
.gis_ia_base .ol-control button.gis_ia_zoom-in {color: black; background-image: url(gis-ol-plus.png);}
.gis_ia_base .ol-control button.gis_ia_zoom-out {color: black; background-image: url(gis-ol-min.png);}
.gis_ia_zoom_extent button {background-image: url(gis-ol-zoom-ext.png);}
.gis_ia_fullscreen button {background-image: url(gis-ol-fullscreen.png);}
.gis_ia_base .zoom-position {border: solid 1px #535353; background-color: #ffb612 !important;}
.gis_ia_zoekveld {color: black; background-color: #ffb612; border-right: solid 1px #fff4dc ;}
.gis_ia_zoekknop {border-right: solid 1px #fff4dc  !important; background-image: url(gis-ol-zoek.png);}
.gis_ia_gotopos {background-image: url(gis-ol-position2.png);}
.gis_ia_legenda button {background-image: url(gis-ol-legenda.png);}
.gis_ia_options_button {background-image: url(gis-ol-options.png);}
.gis_ia_info_button {background-image: url(gis-ol-menu1.png); width: 29px; height:29px;}
.gis_ia_base .button-opa-min {color: black; background-image: url(gis-ol-min.png);}
.gis_ia_base .button-opa-max {color: black; background-image: url(gis-ol-plus.png);}

/* DEFAULT: alles voor de thumb, voor verschillende browsers  */
.gis_ia_base input[type=range]::-webkit-slider-thumb {background: #ffb612; border: solid 1px #535353;}
.gis_ia_base input[type=range]::-moz-range-thumb {background: #ffb612; border: solid 1px #535353;}
.gis_ia_base input[type=range]::-ms-thumb {background: #ffb612; border: solid 1px #535353;}
/* alles voor de track, voor verschillende browsers  */
.gis_ia_base input[type=range]::-webkit-slider-runnable-track {background: #ffb612; border: solid 1px #ffb612;}
.gis_ia_base input[type=range]::-moz-range-track {background: #ffb612; border: solid 1px #ffb612;}
.gis_ia_base input[type=range]::-ms-track {background: #ffb612;}

/* TIMESLIDER: alles voor de thumb, voor verschillende browsers  */
.gis_ia_layerSlider input[type=range]::-webkit-slider-thumb {background-image: url(gis-ol-timeslider.png); background-color: #ffb612;}
.gis_ia_layerSlider input[type=range]::-moz-range-thumb {background-image: url(gis-ol-timeslider.png); background-color: #ffb612;}
.gis_ia_layerSlider input[type=range]::-ms-thumb {background-image: url(gis-ol-timeslider.png); background-color: #ffb612;}
.gis_ia_base .ol-control button.playpauze {background-image: url(gis-ol-play.png);}
.gis_ia_base .ol-control button.playpauze.pauze {background-image: url(gis-ol-pauze.png);}
