.gis_ia_base {background-color: #e8e1df;}
/* Knoppen */
.gis_ia_base button {background-color: #673327 !important; border: solid 1px #535353;}
.panel .button, .ol-popup-2 .button {background-color: #673327 !important; color: white !important; border: solid 1px #535353;}

/* position2 CSS */
.autocomplete-selected {background: #673327; color: white;}

/* Popup & Panel */
.gis_ia_base .panel, .autocomplete-suggestions {border: solid 1px #535353 !important; background-color: #e8e1df !important;}
.ol-popup   {border: 1px solid #535353; background-color: #e8e1df;}
.ol-popup-2 {border: 1px solid #535353; background-color: #e8e1df;}
.ol-popup:after   {border-top-color: #535353;}
.ol-popup-2:after {border-bottom-color: #535353;}
.gis_ia_feature_header2 td {border-top: solid 2px #673327 !important;}

/* filter panel */
.gis_ia_filters .f2 {background-color: #e8e1df;}
.gis_ia_filter_button, .gis_ia_filters_button {background-color: #673327; color: white !important; border: solid 1px #535353;}

/* uiterlijk knoppen */
.ol-control button.gis_ia_zoom-in {color: white; background-image: url(gis-ol-plus-white.png);}
.ol-control button.gis_ia_zoom-out {color: white; background-image: url(gis-ol-min-white.png);}
.gis_ia_zoom_extent button {background-image: url(gis-ol-zoom-ext-white.png);}
.gis_ia_fullscreen button {background-image: url(gis-ol-fullscreen-white.png);}
.zoom-position {border: solid 1px #535353; background-color: #673327 !important;}
.gis_ia_zoekveld {color: white; background-color: #673327; border-right: solid 1px #e8e1df ;}
.gis_ia_zoekknop {border-right: solid 1px #e8e1df  !important; background-image: url(gis-ol-zoek-white.png);}
.gis_ia_gotopos {background-image: url(gis-ol-position2-white.png);}
.legenda button {background-image: url(gis-ol-legenda-white.png);}
.gis_ia_options_button {background-image: url(gis-ol-options-white.png);}
.gis_ia_info_button {background-image: url(gis-ol-menu1-white.png);}

//* TIMESLIDER: alles voor de thumb, voor verschillende browsers  */
#timeslider {width: calc(100% - 37px); margin-left: 4px;}
.gis_ia_base .timeSlider input[type=range]::-webkit-slider-thumb {background-image: url(gis-ol-timeslider-white.png); background-color: #673327;}
.gis_ia_base .timeSlider input[type=range]::-moz-range-thumb {background-image: url(gis-ol-timeslider-white.png); background-color: #673327;}
.gis_ia_base .timeSlider input[type=range]::-ms-thumb {background-image: url(gis-ol-timeslider-white.png); background-color: #673327;}
.ol-control button.playpauze {background-image: url(gis-ol-play-white.png);}
.ol-control button.playpauze.pauze {background-image: url(gis-ol-pauze-white.png);}
